body {
    background-color: red;
    color: white;
}

header > div > .header-ul {
    list-style: none;
}

header > div > .header-ul li, header > div > .header-ul li a {
    text-decoration: none;
    display: inline-block;
}

header > div > .header-ul li a {
    display: block;
    padding: 10px 10px;
    border: none;
    background-color: gray;
}